[package]
name = "holochain_wasmer_common"
description = "commons for both host and guest"
license = "GPL-3.0-only"
version = "0.0.18"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com" ]
edition = "2018"

[dependencies]
byte-slice-cast = "=0.3.5"
holochain_serialized_bytes = "=0.0.28"
serde = "=1.0.104"
