[package]
name = "holochain_wasmer_common"
description = "commons for both host and guest"
license = "Apache-2.0"
version = "0.0.95"
authors = ["thedavidmeister", "thedavidmeister@gmail.com"]
edition = "2021"

[dependencies]
holochain_serialized_bytes = "=0.0.55"
serde = "1"
thiserror = "1"
serde_bytes = "0.11"
test-fuzz = "=3.0.4"

[features]
default = []
error_as_host = []

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
wasmer = "=4.3.1"
