[package]
name = "holochain_wasmer_host"
description = "wasm host code"
license = "Apache-2.0"
version = "0.0.83"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com" ]
edition = "2021"

[dependencies]
wasmer = "=2.3.0"
holochain_wasmer_common = { version = "=0.0.83", path = "../common" }
holochain_serialized_bytes = "=0.0.51"
serde = "1"
tracing = "0.1"
parking_lot = "0.12"
once_cell = "1"
rand = "0.8"
bimap = "0.6"

[lib]
name = "holochain_wasmer_host"
crate-type = [ "cdylib", "rlib" ]
path = "src/host.rs"

[features]
default = ["error_as_host"]
debug_memory = []
error_as_host = ["holochain_wasmer_common/error_as_host"]