[package]
name = "holochain_wasmer_host"
description = "wasm host code"
license = "GPL-3.0-only"
version = "0.0.71"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com" ]
edition = "2018"

[dependencies]
wasmer = "=2.0.0"
holochain_wasmer_common = { version = "=0.0.71", path = "../common" }
holochain_serialized_bytes = "=0.0.50"
serde = "=1.0.123"
tracing = "0.1"
parking_lot = "0.11.1"
once_cell = "1.5.2"
rand = "0.8.3"
bimap = "0.6"
plru = { git = "https://github.com/crdumoul/plru" }

[lib]
name = "holochain_wasmer_host"
crate-type = [ "cdylib", "rlib" ]
path = "src/host.rs"

[features]
default = []
debug_memory_leak = ["holochain_wasmer_common/scopetracker_allocator"]
