[package]
name = "holochain_wasmer_guest"
description = "wasm guest code"
license = "GPL-3.0-only"
version = "0.0.17"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com" ]
edition = "2018"

[lib]
name = "holochain_wasmer_guest"
crate-type = [ "cdylib", "rlib" ]
path = "src/guest.rs"

[dependencies]
holochain_wasmer_common = { version = "=0.0.17", path = "../common" }
