name: run tests mac

on:
  push:
    branches:
      - develop
  pull_request: {}

jobs:
  test:
    runs-on: macos-latest
    strategy:
      matrix:
        script: ["./test.sh", "./bench.sh", "./fuzz.sh"]
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown
      - run: ${{ matrix.script }}