name: run tests

on: [ push, pull_request ]

jobs:
 test:
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@v2
   - uses: cachix/install-nix-action@v12
      with:
       nix_path: nixpkgs=channel:nixos-unstable
   - run: nix-shell --run ./test.sh
