name: run tests

on:
  push:
    branches:
      - develop
  pull_request: {}

jobs:
  test:
    strategy:
      matrix:
        script: ["./test.sh", "./bench.sh"]
        os: ["ubuntu-latest", "macos-latest"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Install nix
        uses: cachix/install-nix-action@v26
      - name: Setup cachix
        uses: cachix/cachix-action@v14
        if: ${{ ! contains(matrix.platform.runs-on, 'self-hosted') }}
        with:
          name: holochain-ci
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix develop --command ${{ matrix.script }}
